PORT=3000
JWT_SECRET=super_secret_jwt_key_here
KOLMEYA_API_URL=https://api.kolmeya.com/v1
KOLMEYA_API_TOKEN=your_kolmeya_token_here
KOLMEYA_WEBHOOK_URL=https://seu-tunel-cloudflare.trycloudflare.com/api/webhooks/kolmeya
KOLMEYA_SMS_API_ID=1

DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=
DB_NAME=benhub
